* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: ;
	color: ;
	font-family: 'Roboto', sans-serif;
	font-size: ;
	font-weight: ;
	text-redering: optimizeLegibility;
}


.row {
	width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

/* -----------------------------*/
/*
/* Header
/*
/*------------------------------*/

.landing-container {
	margin: 0 auto 0 auto;
	width: 100%;
	max-width: 100%;
	background-color: white;
	border-bottom: 1px solid #F3F3F3;
	font-size: 1em;
}

.navigation-container {
	max-width: 1200px; 
	width: 80%; 
	margin: 0px auto; 
}

.logo {
	height: 50px;
	margin-top: 10px;
}

.navigation {
	float: right;
	margin-top: 20px;
}

.main-nav li {
	display: inline-block;
	list-style: none;
	padding-left: 35px;
    font-family: 'Roboto', sans-serif;
}

.main-nav li a {
	color: gray;
	font-family: 'Roboto:500', sans-serif;
}

.nav-item:hover #home{
	color: #FB6965;
	font-family: 'Roboto:500', sans-serif;
}

.nav-item:hover #portfolio {
	color: #FB6965;
	font-family: 'Roboto:500', sans-serif;
}

.nav-item:hover #about{
	color: #FB6965;
	font-family: 'Roboto:500', sans-serif;
}

.nav-item:hover #resume{
	color: #FB6965;
	font-family: 'Roboto:500', sans-serif;
}

#contact{
	color: #FB6965;
	font-family: 'Roboto:500', sans-serif;
}

/* -----------------------------*/
/*
/* Contact
/*
/*------------------------------*/

.container {
	height: 100vh;
	width: 100%;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #FB6965;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #DD6262;
}

/* Add a background color and some padding around the form */
.form-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}


/* -----------------------------*/
/*
/* Footer
/*
/*------------------------------*/

.footer-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto 0px auto;
	padding: 20px;
	background-color: #f2f2f2;
	overflow: auto;
}

.footer-container p {
	text-align: center;
	margin: auto;
	font-size: 1.2em;
	color: #3d3d3d;
	padding-bottom: 10px;
}


.social {
	list-style-type: none;
	display: inline-block;
	text-align: center;
	width: 100%;
	margin: 0 auto;
}

.social li {
	font-size: 1.2em;
	display: inline-block;
	color: #3d3d3d;
	padding-left: 30px;
}

.social i {
	padding-right: 5px;
}

.fa {
	color: #FB6965;
}



