
/* PROJECT Hover */

.project-container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-bottom: 30px;
  margin-top: 80px;
}

.project-item {
  width: calc((100% / 2) - 30px);
  height: 450px;
  margin-right: 30px;
  margin-bottom: 20px;
}

.last {
  margin-right: 0px;
}

.project-img{
  width: 100%;
  height: 350px;
}

.project-block-title {
  font-size: 1.8em;
  font-weight: 600;
  margin-top: 15px;
}

.project-details {
  margin-top: 5px;
}

/* Project Images */

#liftassist-image {
  background-image: url('../images/liftassist/final-prototype.png');
  background-size: cover;
  background-position: center;
}

#chefbook-image {
  background-image: url('../images/chefbook/chefbookthumbnail.png');
  background-size: cover;
  background-position: center;
}

#librarysign-image {
  background-image: url('../images/librarysign/signthumbnail.png');
  background-size: cover;
  background-position: center;
}

#foodie-image {
  background-image: url('../images/foodie/foodiethumbnail2.png');
  background-size: cover;
  background-position: center;
}

#snores-image {
  background-image: url('../images/liftassist/final-prototype.png');
  background-size: cover;
  background-position: center;
}


#kolibri-image {

}

#workday {
  background-image: url('../images/workday/workday.png');
  background-size: cover;
  background-position: center;
}


footer {
  margin-top: 100px;
}