#portfolio {
  color: #FF5E55;
  font-weight: 600;
}

/* PROJECT Hover */

.project-container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-bottom: 30px;
  margin-top: 100px;
}

.project-item {
  width: calc((100% / 2) - 30px);
  height: 350px;
  background-color: red;
  margin: auto;
  margin-left: 0px;
  margin-bottom: 90px;
}

.img {
  width: 100%;
  height: 100%;
  background-color: black; /* fallback color */
  background-image: url("https://source.unsplash.com/random");
  background-position: center;
  background-size: cover;
  transition: all .5s;
}


.project-item {
  overflow: hidden;
  width: ;
}

.project-item p {
  color: black;
}

.project-block-title {
  font-size: 3em;
}

/* Project Images */

#liftassist-image {
  background-image: url('../images/liftassist/final-prototype.png');
}

#chefbook-image {
  background-image: url('../images/chefbook/chefbookthumbnail.png');
}

#librarysign-image {
  background-image: url('../images/librarysign/signthumbnail.png');
}

#foodie-image {
  background-image: url('../images/foodie/foodiethumbnail2.png');
}


#snores-image {
  background-image: url('../images/liftassist/final-prototype.png');
}


#kolibri-image {

}

#workday-image {
  background-image: url('../images/workday/workday.png');
}


/* Footer */
footer {
  margin-top: 0px;
}













