* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: ;
	color: ;
	font-family: 'Roboto', sans-serif;
	font-size: ;
	font-weight: ;
	text-redering: optimizeLegibility;
}


.row {
	width: 100%;
}

a {
	text-decoration: none;
}

/* -----------------------------*/
/*
/* Header
/*
/*------------------------------*/

.landing-container {
	margin: 0 auto 0 auto;
	width: 100%;
	max-width: 100%;
	background-color: white;
	border-bottom: 1px solid #F3F3F3;
	font-size: 1em;
}

.navigation-container {
	max-width: 1200px; 
	width: 80%; 
	margin: 0px auto; 
}

.logo {
	height: 50px;
	margin-top: 10px;
}

.navigation {
	float: right;
	margin-top: 20px;
}

.main-nav li {
	display: inline-block;
	list-style: none;
	padding-left: 35px;
    font-family: 'Roboto', sans-serif;
}

.main-nav li a {
	color: gray;
	font-family: 'Roboto:500', sans-serif;
}

.nav-item:hover #home{
	color: #FB6965;
	font-family: 'Roboto:500', sans-serif;
}

.nav-item:hover #portfolio {
	color: #FB6965;
	font-family: 'Roboto:500', sans-serif;
}

.nav-item:hover #about{
	color: #FB6965;
	font-family: 'Roboto:500', sans-serif;
}

#resume{
	color: #FB6965;
	font-family: 'Roboto:500', sans-serif;
}

.nav-item:hover #contact{
	color: #FB6965;
	font-family: 'Roboto:500', sans-serif;
}

